[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
tk = "*"
matplotlib = "*"
pillow = "*"
tensorflow = "*"
scikit-learn = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "3.10"
